.container {
    background-color: aquamarine;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 30px;
}
h1 {
    text-align: center;
}

.inputs {
text-align: center;
}